{% extends 'base.html.twig' %}

{% block title %}Kaay Deuk!
{% endblock %}

{% block body %}

	{# content:""; background:url('https://www.hotelgoeland.com/wp-content/uploads/chambre-panoramique/coin-nuit-suite-panoramique-1400x600.jpg'); opacity:0.5; top: 0; left:0; bottom:0; right:0; position:absolute; z-index:-1; #}  

	{# Class Jumbotron #}
	<div class="container mt-5" >
		<div class="jumbotron my-4 text-white" style="background:url('https://www.hotelgoeland.com/wp-content/uploads/chambre-panoramique/coin-nuit-suite-panoramique-1400x600.jpg'); text-shadow: 1px 1px 10px black;">
			<h1 class="display-3 text-white">Daalal ak diam ci KaayDeuk</h1>
			<p class="lead" style="text-shadow: 1px 1px 4px black;">KaayDeuk est une plateforme web qui vous permet de publier ou de consulter des annonces de location de chambres ou d'appartements .</p>
			<hr class="my-4">
			<p style="text-shadow: 1px 1px 4px black;">Avec KaayDeuk louer des chambres devient facile et moins coûteux.</p>
			<p class="lead">
				<a class="btn btn-primary" href="{{path('app_home')}}" role="button">En savoir plus</a>
			</p>
		</div>
	</div>

	<h3 class="container my-5">Les dernières annonces ...</h3>

  	<div class="container my-5">
		<div class="row">
			{% for announce in announces %}

				<div class="col-sm-6 col-md-6 col-lg-4 ">

					<div class="card mb-3 text-center">
						<div class="card-header">
							{% if announce.rooms > 1 %}
								<strong>{{announce.rooms}}
									Chambres à
									{{announce.price | number_format(0, ',', ' ') }}F / mois</strong>
							{% else %}
								<strong>{{announce.rooms}}
									Chambre à
									{{announce.price | number_format(0, ',', ' ') }}F / mois</strong>
							{% endif %}
							<br/>
							<p class="text-primary">
								<small>
									<i class="fas fa-map-marker-alt"></i>
									{{announce.address }}</small>
							</p>
						</div>
						<img src=" {{asset('uploads/cover_images/'~ announce.coverImage)}} " alt="cover image" srcset="" style="height:200px;width:100%;">
						<div class="card-body">
							<h4 class="card-text">{{announce.title}}
							</h4>
							<p class="card-text">{{announce.introduction}}
							</p>
						</div>

						<div
							class="card-body">
							{#<span class="badge badge-secondary"><strong>Disponible</strong> </span>  #}
							<a href="{{path('announces_show',{'slug': announce.slug})}} " class="card-link">Contacter
							</a>
							<a href="{{path('announces_show',{'slug': announce.slug})}} " class="card-link btn btn-primary">Détails</a>
						</div>
						<div class="card-footer text-muted text-center">
							{% set n = 0 %}
							{% for comment in announce.comments %}
								{% if comment.id > 0 %}
									{% set n = n + 1 %}
								{% endif %}
							{% endfor %}
							{% if n == 0 %}
								<small>{{ n }} commentaire | {{ announce.createdAt | format_date(locale='fr')}}</small>
							{% else %}
								<small>{{ n }} commentaires | {{ announce.createdAt |format_datetime('short', 'none', locale='fr')}}</small></small>
							{% endif %}

						</div>
					</div>


				</div>
			{% endfor %}


		</div>
	</div>




{% endblock %}
