{% extends 'base.html.twig' %}

{% block title %}Annonces
{% endblock %}

{% block body %}

	<div class="container my-5">
		<div class="row">
			{% for announce in announces %}

				<div class="col-sm-6 col-md-6 col-lg-4 ">

					<div class="card mb-3 text-center">
						<div class="card-header">
							{% if announce.rooms > 1 %}
								<strong>{{announce.rooms}}
									Chambres à
									{{ announce.price|format_currency('XOF', locale='sn') }} / mois</strong>
							{% else %}
								<strong>{{announce.rooms}}
									Chambre à
									{{ announce.price|format_currency('XOF', locale='sn') }} / mois</strong>
							{% endif %}
							<br/>
							<p class="text-primary">
								<small>
									<i class="fas fa-map-marker-alt"></i>
									{{announce.address }}</small>
							</p>
						</div>
						<img src=" {{asset('uploads/cover_images/'~ announce.coverImage)}} " alt="cover image" srcset="" style="height:200px;width:100%;">
						<div class="card-body">
							<h4 class="card-text">{{announce.title}}
							</h4>
							<p class="card-text">{{announce.introduction}}
							</p>
						</div>

						<div
							class="card-body">
							{#<span class="badge badge-secondary"><strong>Disponible</strong> </span>  #}
							<a href="{{path('announces_show',{'slug': announce.slug})}} " class="card-link">Contacter
							</a>
							<a href=" {{path('announces_show',{'slug': announce.slug})}} " class="card-link btn btn-primary">Détails</a>
						</div>
						<div class="card-footer text-muted text-center">
							{% set n = 0 %}
							{% for comment in announce.comments %} 
								{% if comment.id > 0 %}
									{% set n = n + 1 %}
								{% endif %}
							{% endfor %}
							{% if n == 0 %}
								<small>{{ n }} commentaire | {{ announce.createdAt|ago(locale='fr') }}</small>
							{% else %}
								<small>{{ n }} commentaires | {{ announce.createdAt|ago(locale='fr') }}</small></small>
							{% endif %}

						</div>
					</div>


				</div>
			{% endfor %}


		</div>
	</div>
{% endblock %}
