<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Soum Location{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <link rel="stylesheet" href="">
            <script src="/js/jquery.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        {% endblock %}

    </head>
    <body>

        {# Barre de menu#}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href=" {{path('app_home')}} "><strong>KaayDeuk</strong> </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{path('app_home')}}">Accueil
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('announces_index')}}">Nos offres</a>
              </li>
              {% if app.user %}
              <li class="nav-item">
                <a class="nav-link" href="{{path('announces_create')}}">Publier annonces</a>
              </li>
              {% endif %}
            </ul>
            {% if app.user %}
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a href="#" class="nav-link">Gérer mes annonces</a>
                </li> 
                <li class="nav-item ">
                  <a href="#" class="nav-link"><small> {{app.user.email}} </small> </a>
                </li> 
                <li class="nav-item ">
                  <a href=" {{path('app_logout')}} " class="nav-link">Deconnexion</a>
                </li>  
              </ul>
            {% else %}
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a href=" {{path('app_register')}} " class="nav-link">Inscription</a>
                </li>  
                <li class="nav-item ">
                  <a href=" {{path('app_login')}} " class="nav-link">Connexion</a>
                </li>  
              </ul>
            {% endif %}
          </div>
        </nav>
        {% for message in app.flashes('success') %}
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        {% endfor %}

        {% block body %}{% endblock %}


        {# Class footer#}
        <footer class="mt-5 bg-light py-4 text-center">
          <p>Copyright Simplon.co !</p>
        </footer>

    </body>
</html>
